<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ArchiveManager.Settings0" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ArchiveManager.Attribute0" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ArchiveManager.Settings0>
            <setting name="LastSelectedRepo" serializeAs="String">
                <value>00000000-0000-0000-0000-000000000000</value>
            </setting>
            <setting name="LastSelectedStream" serializeAs="String">
                <value />
            </setting>
        </ArchiveManager.Settings0>
    </userSettings>
    <applicationSettings>
        <ArchiveManager.Attribute0>
            <setting name="RepoDirectory" serializeAs="String">
                <value>Repo\</value>
            </setting>
            <setting name="StreamInfoFile" serializeAs="String">
                <value>.ohmsarchive</value>
            </setting>
            <setting name="ListVersion" serializeAs="String">
                <value>1.0</value>
            </setting>
            <setting name="RepoVersion" serializeAs="String">
                <value>1.0</value>
            </setting>
            <setting name="ListFileName" serializeAs="String">
                <value>Repos.xml</value>
            </setting>
            <setting name="VersionNote" serializeAs="String">
                <value>Version</value>
            </setting>
            <setting name="ListRootNote" serializeAs="String">
                <value>Repos</value>
            </setting>
            <setting name="TimeNote" serializeAs="String">
                <value>UTC</value>
            </setting>
            <setting name="RepoNote" serializeAs="String">
                <value>Repo</value>
            </setting>
            <setting name="GuidNote" serializeAs="String">
                <value>Guid</value>
            </setting>
            <setting name="NameNote" serializeAs="String">
                <value>Name</value>
            </setting>
            <setting name="StreamNote" serializeAs="String">
                <value>Stream</value>
            </setting>
            <setting name="PathNote" serializeAs="String">
                <value>Path</value>
            </setting>
            <setting name="RepoFileName" serializeAs="String">
                <value>Repo.xml</value>
            </setting>
            <setting name="LeaderNote" serializeAs="String">
                <value>Leader</value>
            </setting>
            <setting name="StreamVersion" serializeAs="String">
                <value>1.0</value>
            </setting>
        </ArchiveManager.Attribute0>
    </applicationSettings>
</configuration>